body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #ffb3b3;
    max-width: 800px;
    margin: 0 auto;
    background-color: blueviolet; 
}

h1 {
    color:#ffb3b3;
    border-bottom: 2px solid #ffb3b3;
    padding-bottom: 10px;
}